*{
    
	box-sizing: border-box;
}
body{
	background: linear-gradient(139deg,#26a00ecb 0%, #e2df1db6 90%);
    max-height: max-content;
}
.container{
	position: relative;
	max-width: 800px;
	padding: 10px;
	margin: 50px auto;
}
h1
{
    margin-left: 570px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2
{
    margin-left: 400px;
    font-size: 70px;
    margin-top: 100px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
marquee
{
    font-family: cursive;
    margin-top: 38px;
    color: purple;
}
.d1
{
    align-items: center;
    margin-top: -30px;
}
.addTask{
	width: 100%;
	display: flex;
    margin-top: -50px;
	padding: 50px 0;
}
.addTask > input[type="text"]{
	width: 90%;
	color: #333;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
}
.addTask button{
	margin: 0 10px;
	background: #222;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.notCompleted, .Completed{
	margin: 5px 0;
	padding: 05px;
}
h3{
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #e96969bb;
	font-size: 22px;
	counter-increment: my-counter;
}
ol.Completed li{
	background: #00ff62;
}
ol li::before{
	content: counter(my-counter);
	background: #231381;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	margin-right: 0.5rem;
}
li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}